* {
  box-sizing: border-box;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register-container.login {
  height: auto;
  padding-bottom: 40px;
}
.register-form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-form {
  background: #fff;
  width: 90%;
  padding: 30px;
  border-radius: 10px;
}
.register-form.login {
  height: 50% !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 30px;
  width: 100%;
}
.login-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: orangered;
  width: 90%;
  height: 500px;
  border-radius: 10px;
}
.input {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 10px;
  font-family: Poppins;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-color: #9f9f9f;
  outline: none;
  border-radius: 5px;
}
.register-button {
  background: orangered;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #dbdbdb;
  min-height: 100vh;
  padding-bottom: 40px;
}
.dashboard-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-top: 1px; */
  margin-bottom: 30px;
  background-color: #282c34;
  padding: 20px;
  border: none;
}
.dashboard-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.dashboard-link-div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
}
.dashboard-link {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  width: 90%;
  /* border-style: solid;
  border-width: 1px;
  border-color: #5f5f5f; */
  border-radius: 7px;
  font-size: 12px;
}
.dashboard-shorten-btn {
  margin-top: 0;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 30%;
  align-self: flex-end;
  margin-right: 0;
  background-color: #007fff;

  height: 40px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  border: none;
}
.loader {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;

  color: #000;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profile-div {
  background-color: #fff;
  padding: 30px;
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.profile-user {
  margin: 30px;
  font-family: Audiowide;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  background: #e392a5;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  border: none;
}
.profile-reset {
  padding: 10px;
  border: none;
  background: cornflowerblue;
  color: #fff;
}
.profile-reset.delete {
  background: #e0115e;
}
@media (min-width: 891px) {
  .register-form {
    width: 40%;
    padding: 80px;
  }
  .register-form.login {
  }
  .login-div {
    width: 40%;
  }
  .loader {
    margin-top: 75px;
  }
  .dashboard-form-div {
    width: 98%;
    align-self: center;
  }
}
