* {
  box-sizing: border-box;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register-form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-form {
  background: #fff;
  width: 90%;
  padding: 30px;
  border-radius: 10px;
}
.input {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 10px;
  font-family: Poppins;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-color: #9f9f9f;
  outline: none;
  border-radius: 5px;
}
.register-button {
  background: orangered;

  border: none;
  border-radius: 5px;
  color: #fff;
}
.poll-container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.poll-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  height: 100%;
}
.poll-button {
  width: 90%;
  background: orangered;
  font-size: 16px;
  border-radius: 10px;
  margin: 10px;
  color: #fff;
  border: none;
  outline: none;
  /* height: 40px; */
  font-family: Poppins;
}
.poll-create-poll-btn {
  margin: 20px;
  align-self: flex-end;
  outline: none;
  background-color: rgb(61, 187, 61);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: Poppins;
  font-size: 14px;
}
.hide {
  display: none;
}

.create-poll-label {
  color: #000;
  align-self: flex-start;
  margin: 5px;
  margin-left: 0;
  border-style: solid;
  padding: 5px;
  font-size: 20px;
}
.create-poll-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.create-poll-candidate-div {
  /* border-style: solid; */
  /* border-width: 0.3px; */
  border: none;
  padding-top: 0px;
  /* border-color: #696969; */
  /* border-radius: 10px; */
  margin: 10px;
  width: 100%;
  margin-top: 0;
  box-sizing: border-box;
  box-shadow: 8px 10px 7px -4px #9f9f9f;
}
.create-poll-candidate-label {
  background-color: black;
  color: #fff;
  margin-top: 0;
  width: 100%;
  text-align: left;
  padding-left: 10px;
}
.green {
  background-color: rgb(61, 187, 61);
}
.yellow {
  background-color: grey;
}
.poll-user-div {
  border-left-style: solid;
  border-left-width: 1px;
  margin-bottom: 30px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
}
.poll-button.user {
  font-size: 18px;
  width: 100%;
  margin: 0;
  border-radius: 0;
}
.flatpickr {
  margin-left: 0;
  margin-top: 0;
  background: #fff;
  width: 100%;
  font-size: 16px;
}
